<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cliente de Monitoreo</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main>
    <h1>Bienvenido al cliente de monitoreo</h1>
    <p>Este es un cliente simple para monitorear servidores.</p>
    <div id="agent-info-container">
      <!-- La información del agente se añadirá aquí -->
    </div>
  </main>
  <script type="module" src="/websocket.js"></script>
  <script src="/chart.js" is:inline></script>
</body>
</html>
